.git
.next/cache
node_modules

.czrc
.editorconfig
.env.example
.eslintignore
.gitattributes
.gitignore
.prettierrc.js
*.md

Dockerfile
.dockerignore
justfile

eslint.config.js
tsconfig.tsbuildinfo
lefthook.yml
